<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/styleFinal.css">
        <title>To Do Application</title>
    </head>
    <body>
        <h1 class = "heading"> To Do Application</h1>
        <h3 class = "sub-heading"> Create a New Task </h3>
        <div class = "container">
            <form action = "/create_task" method = "post">
                <label for = "title">Task Title:</label>
                <input type = "text" name = "title" id = "title" required><br> <br>
                <label for = "detail">Task Detail: </label>
                <textarea name = "detail" required></textarea><br><br>
                <button type = "submit" onclick="show_alert()" class = "create">Create Task</button>
            </form>
            <form action = "/show_tasks" method="get">
                <button type = "submit" class = "create">Show Tasks</button>
            </form>
        </div>
        <script>
            function show_alert()
            {
                window.alert("Your task has been created successfully!");
            }
        </script>
    </body>
</html>